name: CI/CD Build and Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      sha8: ${{ steps.slug.outputs.sha8 }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get Short SHA
        id: slug
        run: echo "sha8=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/srmt-prime:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/srmt-prime:${{ steps.slug.outputs.sha8 }}

  verify-image:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/srmt-prime:${{ needs.build-and-push.outputs.sha8 }}
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

  trigger-watchtower:
    runs-on: ubuntu-latest
    needs: verify-image

    steps:
      - name: Trigger Watchtower Update
        run: |
          curl -sf -H "Authorization: Bearer ${{ secrets.WATCHTOWER_SECRET }}" \
            https://${{ secrets.WATCHTOWER_HOST }}/v1/update

  update-k8s-manifest:
    runs-on: ubuntu-latest
    needs: [verify-image, build-and-push]

    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.GITOPS_SSH_KEY }}

      - name: Update and Push Manifest
        run: |
          git config --global user.email "ci-bot@example.com"
          git config --global user.name "CI Bot"

          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts

          git clone git@github.com:uzgidro/GitOps-Repo.git temp-repo
          cd temp-repo

          sed -i "s|image: ${{ secrets.DOCKERHUB_USERNAME }}/srmt-prime:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/srmt-prime:${{ needs.build-and-push.outputs.sha8 }}|g" apps/prime/deployment.yaml

          if [[ -n $(git status --porcelain) ]]; then
            git add apps/prime/deployment.yaml
            git commit -m "Update image to version ${{ needs.build-and-push.outputs.sha8 }}"
            git push origin main
          else
            echo "No changes in manifest"
          fi
